:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand i {
  margin-right: 8px;
}

footer {
  margin-top: auto;
}